@charset "UTF-8";
/* CSS Document */
body {
  font-family: "ヒラノ角ゴ Pro W6", Hiragino Kaku Gothic Pro, Osaka, "ＭＳ Ｐゴシッ", sans-serif;
  background-color: #FCFCFC;
}
ul, li {
  list-style: none;
}
.clearfix::after{content:"";display:block;clear:both;}
.headerImg{
   display: block;
   text-align: center;
   padding:10px 0;
   background-color: #fff;
   border-bottom: 1px solid #eee;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
.columnRight {
    padding-right: 0;
}
.columnLeft {
    padding-left: 0;
}
.contents{
  text-align: center;
  margin: 0 10px;
}
.contents h1{
  font-size: 24px;
  padding: 20px 0;
}
.loadingWrap{
  padding-top:100px;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60010;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #eeeeee;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 7em;
  height: 7em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.6em;
  left: -0.6em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 1s infinite ease 0.8s;
  animation: load2 1s infinite ease 0.8s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.6em;
  left: 3.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 1s infinite ease;
  animation: load2 1s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#footerMenu{
  border-top: 1px solid #eee;
  padding: 10px 0;
}

#footerMenu li {
  width : 33.33333%; /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 3);
  width : calc(100% / 3);
  float: left;
  text-align: center;
}
#footerMenu li img {
  width: 22%;
}
#switchMenu {
  margin: 10px 0;
}

#switchMenu li {
  float: left;
}

#switchMenu li {
  padding-left: 5px;
  border-left: 1px solid #d9d9d9;
}

#switchMenu li:nth-of-type(1) {
  border-left: 0;
  padding-left: 0;
  margin-right: 5px;
}

.sigleItem .modelInfo a {
  color: #0078BF;
  font-weight: bold;
  text-decoration: none;
}

.sigleItem .modelInfo {
  text-align: left;
}

.sigleItem .modelInfo img {
  max-width: 60px;
  width: 100%;
}

.sigleItem .modelInfo .modelName {
  padding: 0;
}
.col-xs-2{
  margin-bottom: 10px;
}
.sigleItem{
  margin-bottom: 20px;
}
.smallIcon{
  width: 30px;
  display: inline-block;
  float: left;
}
/*timeline*/
.modelItem{
  text-align: center;
  margin: 10px auto;
}
.modelItem .modelInfo a{
  color: #0078BF;
  font-weight: bold;
  text-decoration: none;
}
.modelWear{
  width: 300px;
  margin: 20px auto 0;
}
.modelWear li{
  width: 60px;
  display: inline-block;
  margin: 0 10px;
}
.tw{
  margin: 0 10px;
}
.bx_sns{
  width: 176px;
  margin: 10px auto;

}
.bx_sns li{
  width: 75px;
  display: inline-block;
  vertical-align: top;
}

.sliderItem img {
  margin: auto;
}
